.icon{
    size: 20px;
}
.hd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: aqua;
}
body{
    margin: 0px;
    color:aqua;
}
.list{
     display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    list-style-type: none;
    padding: 0px 50px 0px 50px;
    justify-content: space-between;
}
.p1, .p2{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
    margin-top: 20px;
    border-radius: 50px;
}
.para{
    width: 50vw;
    color: blue;
}
img{
    margin-top: 20px;
    border-radius: 30px;
}
.list li{
    text-decoration: underline;
    text-decoration-color: rgb(11, 92, 168);
}
.pipo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin: 0px 35px 0px 30px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    border: 0px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: rgb(11, 92, 168);

}
main{
    background-image:  url("we.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center
}
footer{
    background-color: black;

}